html 
    head 
        title = title
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js")
        style.
            .input-group {
                width: 200px;
            }
            .input-wrapper {
                position: relative;
            }

            #search_input {
                border: solid 1px gray;
                position: absolute;
                left: 1px;
                top: 1px;
                background: transparent;
            }

            #search_result {
                position: sticky;
            }

            .hint {
                color: gray;
            }
    body 
        div
            div.input-group
                label Single Selection 
                div.input-wrapper
                    input#search_hint(placeholder="Choose a state")
                    input#search_input
                div#search_result
                    

        script(type='text/javascript').
            let selectedListIndex = null
            const onInputChanged = () => {
                const query = $("#search_input").val()
                selectedListIndex = null
                $.ajax({
                    url: "./states",
                    method: 'GET',
                    dataType: 'json',
                    data: {
                        state: query
                    },
                    success:function(res){
                        const {data} = res
                        const child = []
                        for (index in data) {
                            const state = data[index]
                            child.push(`<div class="list" onclick="onListSelected('${state}')">${state}</div>`)
                        }
                        $('#search_result').html(child)
                        let newPlaceholder = ""
                        if (query.length !== 0 && data.length > 0 && data[0].toLowerCase().indexOf(query.toLowerCase()) === 0) {
                            newPlaceholder = query + data[0].slice(query.length, data[0].length - 1)
                        }
                        $('#search_hint').attr("placeholder", newPlaceholder)
                    },
                    error:function(err){console.log("err", err)},
                })
            }
            $('#search_input').on("input", onInputChanged)
            $('#search_input').on("focus", onInputChanged)

            const onListSelected = (data) => {
                $('#search_input').val(data)
                $('#search_hint').attr("placeholder", "")
                removeSearchResult()
            }

            const removeSearchResult = () => {
                $('#search_result').empty()
            }

            $('#search_input').blur(() => {
                setTimeout(() => {
                    removeSearchResult()
                    const query = $('#search_input').val()
                    const placehodler = query === "" ? "Choose a state" : ""
                    $('#search_hint').attr("placeholder", placehodler)
                }, 200)
            })
            
            $(document).keydown(function(e) {
                const listLength = $("#search_result").children().length
                if (listLength > 0 && e.keyCode === 40 || e.keyCode === 38) {
                    if (selectedListIndex !== null) {
                        $(`#search_result > div:nth-child(${selectedListIndex})`).css("background-color", "white")
                    }
                    if (e.keyCode === 40) {
                        if (selectedListIndex === null) {
                            selectedListIndex = 1
                        } else {
                            selectedListIndex = selectedListIndex == listLength ? selectedListIndex : selectedListIndex + 1
                        }
                    }

                    if (e.keyCode === 38) {
                        if (selectedListIndex === null) {
                            selectedListIndex = listLength
                        } else {
                            selectedListIndex = selectedListIndex == 1 ? selectedListIndex : selectedListIndex - 1
                        }
                    }
                    $(`#search_result > div:nth-child(${selectedListIndex})`).css("background-color", "blue")
                }
            });

            $(document).keydown(function(e) {
                const listLength = $("#search_result").children().length
                if (e.keyCode === 13 && listLength > 0 && selectedListIndex != null) {
                    const value = $(`#search_result > div:nth-child(${selectedListIndex})`).html()
                    onListSelected(value)
                }
            })